.dexter-video-download-btn{
	background: #e74c3c;
	color: #ffffff;
    font-size: 16px;
	border: none;
	border-radius:4px;
	padding:10px 16px;
	font-weight: bold;
	cursor:pointer;
	margin-top:6px;
    position: absolute;
    z-index: 2147483647; /* Max z-index */
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    transition: background-color 0.2s;
}
.dexter-video-download-btn:hover{
	background: #c0392b;
}

